.panel {
    margin: 0 10px 20px;
}

.panel-default > .panel-heading {
    background: #2f4050;
    color: white;
}

.panel-heading .panel-toggle {
    text-decoration: none;
}

    .panel-heading .panel-toggle:after {
        font-family: 'Glyphicons Halflings';
        content: "\e113";
        float: right;
        color: grey;
    }

    .panel-heading .panel-toggle.collapsed:after {
        content: "\e114";
    }

.count,
.count_top {
    text-align: center;
}

.count {
    color: #25408f;
    font-weight: bold;
    font-size: 20px;
}
